certifi==2024.2.2
charset-normalizer==3.3.2
cloudpickle==3.0.0
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
decorator==4.4.2
Farama-Notifications==0.0.4
filelock==3.14.0
fonttools==4.51.0
fsspec==2024.3.1
gym==0.22.0
gym-notices==0.0.8
gymnasium==0.29.1
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
intel-openmp==2021.4.0
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5